<% include ./partials/header %>

<div class="site-blocks-cover inner-page-cover overlay aos-init aos-animate" style="background-image: url(&quot;images/hero_1.jpg&quot;); background-position: 50% -104.5px;" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>About Us</h1>
                <p class="lead mb-5">We Make Beautiful Things</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  


    
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          
          <div class="col-md-5 ml-auto mb-5 order-md-2 aos-init aos-animate" data-aos="fade">
            <img src="images/hero_1.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-6 order-md-1 aos-init aos-animate" data-aos="fade">

            <div class="row">

              <div class="col-12 mb-4">
                <div class="text-left pb-1 border-primary mb-4">
                  <h2 class="text-primary">Our Specialties</h2>
                </div>
              </div>
              <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-secondary icon-phonelink"></span></div>
                  <div>
                    <h3>Web &amp; Mobile Specialties</h3>
                    <p>mobile and web applications are the day today "make life easier", communication e.t.c which we are indeed highly specialized in this technology .</p>
                    <p class="mb-0"><a href="/services">Learn More</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-secondary icon-extension"></span></div>
                  <div>
                    <h3>Intuitive Thinkers</h3>
                    <p>due to our love for problem solving this has led us to being a part of highly skilled developers who will do anything to finish a complex project.</p>
                    <p class="mb-0"><a href="#">Learn More</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="p-3 box-with-humber">
              <div class="number-behind">01.</div>
              <h2>Our Values</h2>
              <p>Our team has a direct impact on the future of Webchurd and the outcomes we achive for our clients. The traits that we especially value however, are problem solving skills, a self-driven interest in technology, an active disire to continually learn.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="p-3 box-with-humber">
              <div class="number-behind">02.</div>
              <h2>Our Mission</h2>
              <p>Our mission is to ensure the bests relationship with our clients both during and after their goals have been met. we keep this in mind whether building websites or creating custom maps</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="p-3 box-with-humber">
              <div class="number-behind">03.</div>
              <h2>Our Philosophy</h2>
              <p>Webchurd believes website is important, whether designing it promoting it or redesigning your website. Its our hope that you will let others know what excelent service you recieved</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <a href="/contact" class="bg-primary py-5 d-block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md10"><h2 class="text-white">Hire Us &amp; Let's Get Started</h2></div>
        </div>
      </div>  
    </a>



<% include ./partials/footer %> 