<% include ./partials/header %> 
<div class="site-blocks-cover inner-page-cover overlay aos-init aos-animate" style="background-image: url(&quot;images/hero_1.jpg&quot;); background-position: 50% 229px;" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>Our Services</h1>
                <p class="lead mb-5">We Make Beautiful Things</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  

    <section class="site-section border-bottom">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary icon-laptop2"></span></div>
              <div>
                <h3>Web Design</h3>
                <p>We develop beutiful professional & modern websites from 150$.</p>
                <%#  <p><a href="#">Learn More</a></p>%>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary icon-shopping_cart"></span></div>
              <div>
                <h3>eCommerce</h3>
                <p>we are experts in e-commerce we will build you a robust eCommerce website for your online retail business.</p>
                <%#  <p><a href="#">Learn More</a></p> %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary icon-question_answer"></span></div>
              <div>
                <h3>Web Applications</h3>
                <p>we are specialized with the best technologies to build simple and complex web applications.</p>
               <%# <p><a href="#">Learn More</a></p>%>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary icon-format_paint"></span></div>
              <div>
                <h3>Branding</h3>
                <p>we'll help you carefully craft your brand to authentically represent your business and build a strong bond with your customers.</p>
                <%# <p><a href="#">Learn More</a></p>%>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary icon-extension"></span></div>
              <div>
                <h3>Copy Writing</h3>
                <p>Our team will handle your work for copy writing and mostly it is always done within 24hrs.</p>
                <%# <p><a href="#">Learn More</a></p> %> 
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
            <div class="unit-4 d-flex">
             <%#   <div class="unit-4-icon mr-4"><span class="text-primary icon-phonelink"></span></div>%> 
              <div>
               <% /* %>  <h3>Mobile Applications</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                <p><a href="#">Learn More</a></p>
                <% */ %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    

    <section class="site-section border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
            <div class="p-3 box-with-humber">
              <div class="number-behind">01.</div>
              <h2>Web Design</h2>
              <p> Stand out with a edgy, effective and unique online voice across the web. Our designers and copywriters will worktogether to develop and customize a website for you based on corporate needs, ensuring your brand is optimally visble online.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="p-3 box-with-humber">
              <div class="number-behind">02.</div>
              <h2>Web Apps</h2>
              <p>Opt for professional, tailor made, affordable & effective full-stack web application development services from us. we build custom web applications for small to mid-large scale businesses</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="p-3 box-with-humber">
              <div class="number-behind">03.</div>
              <h2>Branding</h2>
              <p>Every business needs to stand out from other competitors, our brand development services keep you visible and unique from your competitors by transforming your company or business into a unique brand that changes peoples perceptions positively.</p>
            </div>
          </div>

          
        </div>
      </div>
    </section>

<% include ./partials/footer %> 